h1 {
    font-size: 2em;
}

h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0 0 1rem;
}

.content-footer {
    position: relative;
    margin: 40px auto;
    width: 50px;
}

.content-footer svg {
    height: 50px;
    width: 50px;
    fill: #555;
}

.content-footer::before,
.content-footer::after {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    background: #555;
    position: absolute;
    top: calc(50% - 1px);
}

.content-footer:before {
    left: -70px;
}

.content-footer:after {
    right: -70px;
}

.gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
}

.gallery-item {
    width: 33.333333%;
    overflow: hidden;
}

.gallery-item > img {
    transform: scale(1.01);
}

.gallery-item > img:hover {
    transform: scale(1.05);
}

.modal-wrapper {
    will-change: top, left, transform;
}

.gallery-item p:last-child {
    margin-bottom: 0;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background: transparent;
    transition: opacity 0.3s;
    border: none;
    opacity: 0;
}

.open .modal-close {
    opacity: 1;
}

.modal-content {
    transition: opacity .3s;
    line-height: 1.5em;
    background: #fff;
    padding: 30px;
}

.opening .modal-content,
.closing .modal-content {
    opacity: 0;
}

.open .modal-content {
    opacity: 1;
}

.modal-close::after {
    content: '×';
    display: block;
    color: white;
    font-size: 25px;
}
