.header {
    transition: left 0.3s, opacity 0.3s;
    will-change: left, opacity;
    text-align: center;
}
.content__section {
    transition: height 0.3s, width 0.3s, left 0.3s, top 0.3s, padding 0.3s, opacity 0.3s;
    will-change: height, width, left, top, padding, opacity;
    opacity: 1;
}

.footer {
    transition: opacity .3s;
}

.web-content,
.drum-content {
    opacity: 0;
    transition: all 0.3s;
}

.web-content .text,
.drum-content .text {
    padding: 0 20px;
}

.web img,
.drums img {
    transition: all 0.3s;
}

.mobile.back-link {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 0;
    padding: 20px 10px;
    margin: 10px 20px;
}

.mobile.back-link:before {
    content: '';
    display: block;
    height: 7px;
    width: 7px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg);
    top: 1px;
    position: relative;
}

.mobile.back-link svg {
    display: none;
}

.path--web .content__caption,
.path--drums .content__caption,
.path--web .content__subcaption,
.path--drums .content__subcaption {
    transform: translateY(0);
    opacity: 1;
}

.path--web .content__gradient,
.path--drums .content__gradient {
    opacity: 1;
}

.path--web .content__image,
.path--drums .content__image {
    transform: translateX(0);
}

.path--web:not(.animating) .back-link,
.path--drums:not(.animating) .back-link,
.path--web:not(.animating) .web-content,
.path--drums:not(.animating) .drum-content {
    opacity: 1;
}

.path--web .header,
.path--web .drums {
    opacity: 0;
}

.path--web .web {
    z-index: 1000;
    top: 0;
}

.path--web .content__image--blurred,
.path--drums .content__image--blurred {
    opacity: 0;
}

.path--drums .header,
.path--drums .web {
    opacity: 0;
}

.path--web .footer,
.path--drums .footer {
    display: none;
}

.path--drums .drums {
    z-index: 1000;
    top: 0;
}

@media (min-width: 500px) {
    .path--web .web .content__caption,
    .path--drums .drums .content__caption {
        /*font-size: 7em;*/
    }
}

@media (min-width: 800px) {
    .mobile.back-link {
        display: none;
    }
    .web-content .text,
    .drum-content .text {
        padding: 0;
    }

    .path--web .web {
        width: calc(100% - 320px);
        left: 20px;
        padding-right: 10px;
        padding-top: 40px;
    }

    .path--web .header,
    .path--drums .header {
        z-index: 1;
        opacity: 1;
        position: fixed;
    }

    .path--web .footer,
    .path--drums .footer {
        display: block;
    }

    .path--web .header {
        left: calc(100% - 300px);
    }

    .path--drums .header {
        left: 0;
    }

    .path--web.animating .footer,
    .path--drums.animating .footer {
        opacity: 0;
    }

    .path--web:not(.animating) .footer,
    .path--drums:not(.animating) .footer {
        top: 325px;
        padding-top: 25px;
        display: flex;
        width: 300px;
        left: calc(100% - 300px);
        height: calc(100vh - 350px);
        flex-direction: column;
        position: fixed;
    }

    .path--web:not(.animating) .social,
    .path--drums:not(.animating) .social {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        height: 100px;
    }

    .path--drums .drums {
        width: calc(100% - 320px);
        left: 300px;
        padding-top: 40px;
    }

    .path--drums:not(.animating) .footer {
        left: 0;
    }
}

@media (min-width: 1200px) {
    .path--web .header {
        left: calc((100% - 1200px)/2 + 1200px - 300px);
    }

    .path--web:not(.animating) .footer {
        left: calc((100% - 1200px)/2 + 1200px - 300px);
    }

    .path--drums .header {
        left: calc((100% - 1200px) / 2);
    }

    .path--drums:not(.animating) .footer {
        left: calc((100% - 1200px) / 2);
    }
}